/*
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
  assets/fonts/Roboto/Roboto-Regular.ttf
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
    font-family: Roboto !important;
}
*/
body {
	font-family: Raleway;
}

html {
	font-family: Raleway !important;
}

.left-buttons {
	margin-left: 6px;
}
