.form-item {
  padding: 24px;
}

.form-label {
  width: 20%;
  float: left;
  font-size: 16px;
  padding: 6px;
  color: #00B9E6;
}

.form-content {
  width: 80%;
  float: right;
}

.time-edit {
  font-size: 48px;
  color: black;
  line-height: 48px;
}

.repeat-setting {
  margin-top: 75px;
}

.repeat-toggle-label {
  font-size: 20px;
  line-height: 30px;
}

.feedback {
  display: none;
}

.repeated-day-picker {
  margin-top: 75px;
}

.day-button {
  text-align: center;
  height: 50px;
  border-radius: 5px;
  /*border: 1px solid black;*/
  font-size: 24px;
  line-height: 48px;
}

.day-positive {
  background-color: #B0BEC5;
}

/*Ionic Time Picker Components*/
.ionic_timepicker_popup {

}

.heading {
  background-color: #546E7A !important; /*Override default styling*/
}

.time_picker_arrows {

}

.time_picker_box_text {

}

.time_picker_colon {

}

.button_set {
  background-color: #546E7A !important; /*Override default styling*/
}

.button_close {
  background-color: #546E7A !important; /*Override default styling*/
}
.search-wrapper-light {
	font-family:Raleway;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
	font-family:Raleway;
    color: #ffffff;
}

