.cover{
  border:1px solid grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  -webkit-filter: blur(1.5px) grayscale(20%) brightness(85%);
  -moz-filter: blur(1.5px) grayscale(20%) brightness(85%);
  -o-filter: blur(1.5px) grayscale(20%) brightness(85%);
  -ms-filter: blur(1.5px) grayscale(20%) brightness(85%);
  filter: blur(1.5px) grayscale(20%) brightness(85%);

}

.ride{
    width:100%;
    height:200px;
}
.text{
    height: 100%;
    transform: translateY(-200px);
    color:white;
    margin-top:20px;
    margin-left:20px;
}
h1{
    color:white;
}
.largeText{
    font-size:20px;
}
.bar-dark{
    background-color:#546E7A !important;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    color:white;
		height:50px;
		border-bottom: 0px solid #546E7A;
}
a{
    text-decoration: none;
}
.bluebar{
    height:53px;
    background-color:#546E7A;
    color:white;
		overflow:auto;
		overflow:hidden
}
.onebar {
    text-align:center;
    color:white;
    font-size:18px;
}
.onebaractive {
    text-align:center;
    border-bottom: 8px solid #ECEFF1;
    color:white;
		font-size:18px;
}
.twobar {
    text-align:center;
    color:white;
		font-size:18px;
}
.twobaractive {
    text-align:center;
    border-bottom: 8px solid #ECEFF1;
    color:white;
		font-size:18px;
}


#map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
