.cover{
  border:1px solid grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

}

.ride{
    width:100%;
    height:200px;
}
.text{
    height: 100%;
    transform: translateY(-200px);
    color:white;
    margin-top:20px;
    margin-left:20px;
}
h1{
    color:white;
}
.largeText{
    font-size:20px;
}
.bar-assertive{
    background-color:#546E7A !important;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    color:white;
}
a{
    text-decoration: none;
}
.bluebar{
    height:50px;
    background-color:#546E7A;
    color:white;
}
.onebar {
    text-align:center;
    color:white;

}
.onebaractive {
    text-align:center;
    border-bottom: 5px solid #ECEFF1;
    color:white;
}
.twobar {
    text-align:center;
    color:white;
}
.twobaractive {
    text-align:center;
    border-bottom: 5px solid #ECEFF1;
    color:white;
}
