<ion-view view-title="Ride Details" ng-init="initMap()">
  <ion-content>
    <div class="bluebar" scroll="false">
        <div class="row">
            <div class="col col-50 onebaractive" ng-if="oneOn">
                <p>General</p>
            </div>
            <div  class="col col-50 onebar"  ng-if="!oneOn"  ng-click="toggleTab()"  >
                <p><a ng-click="oneOn = !oneOn" style="color:white;">General</a></p>
            </div>
            <div class="col col-50 twobar" ng-if="oneOn" ng-click="toggleTab()" >
                <p><a ng-click="oneOn = !oneOn" style="color:white">Locations</a></p>
            </div>
            <div class="col col-50 twobaractive" ng-if="!oneOn">
                <p>Locations</p>
            </div>
        </div>
    </div>
        <div ng-if="oneOn">
          <!-- General settings -->
          <ul class="list">
              <li class="item">
                <div class="form-label">
                  <img src="img/Clock_Icon.png" width="75px">
                </div>
                <div class="form-content">
                  <a ng-click="editTime()">
                    <p class="time-edit">
                      {{playlists[lastChar-1].time}}
                    </p>
                    <p class="time-description">
                      Pickup Time
                    </p>
                  </a>
                </div>
              </li>
              <li class="item">
                <div class="form-label">
                  <img src="img/Calendar_Icon.png" width="75px">
                </div>
                <div class="form-content">
                  <a ng-click="editDate()">
                    <p class="date-edit">
                      {{playlists[lastChar-1].date | date : 'MMMM d, yyyy'}}
                      <!-- <br>
                      {{playlists[lastChar-1].date | date : 'yyyy'}} -->
                    </p>
                  </a>
                </div>
              </li>
              <li class="item">
                <div class="form-label" style="float: right">
                  <label class="toggle" style="float: right">
                     <input type="checkbox" ng-model="repeating"
                      ng-true-value="true" ng-false-value="false"
                      ng-init="initialRepeat()" ng-click="changedRepeat()">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </div>
                <div class="form-content">
                  <p class="content-edit">
                    <p class="schedule-edit">Recurring Schedule</p>
                    <span id="repeatingCheckboxVal" class="feedback">{{repeating}}</span>
                  </p>
                </div>
              </li>
              <li class="item configure-button" ng-click="showPopup()">
                  Configure Schedule<span ng-show="showColon()">:</span>
                  <br>
                  <span ng-repeat="day in playlists[lastChar-1].repeatedDays track by $index">
                    <span ng-show="day">
                      {{daysOfWeekShort[$index]}}<span ng-show="showComma($index)">, </span>
                    </span>
                  </span>
              </li>
          </ul>


          <!-- <div class="row repeated-day-picker">
            <div class="col" ng-repeat="day in playlists[lastChar-1].repeatedDays track by $index">
              <div class="day-button" ng-class="(day ? 'day-positive' : 'day-negative')" ng-click="toggleRepeatedDay($index)">
                {{daysOfWeekShort[$index]}}
              </div>
            </div>
          </div> -->

        </div>

        <div ng-if="!oneOn">
          <!-- Location settings -->
          <div class="list">
						<label class="item item-input  item-floating-label location-item" style="width:100%;">
              <span class="input-label">Drop Off Location</span>
              <input id="pickup" type="text" placeholder="{{playlists[lastChar-1].pickup}}" ng-model="pickup" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-change="updatedLocation()"><!-- googleplace -->
            </label>

						<label class="item item-input  item-floating-label location-item" style="width:100%;">
							<span class="input-label">Pickup Location</span>
              <input id="dropoff" type="text" placeholder="{{playlists[lastChar-1].dropoff}}" ng-model="dropoff" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-change="updatedLocation()"><!-- googleplace -->
            </label>

            <div class="item" style="width:100%;">
              <div ng-click="showFareEstimate()">
                Fare Estimate
              </div>
            </div>
          </div>
        </div>

        <ion-spinner icon="lines" class="loading-spinner" ng-show="loading"></ion-spinner>

  </ion-content>
  <ion-footer-bar align-title="left">
    <button class="button button-full button-custom" ng-click="update()">
      Save
    </button>
  </ion-footer-bar>
</ion-view>
